.stamplunas {
    background: url(../img/backgrounds/lunas.png) no-repeat center;
    /* background-size: cover; */
    /* background-size: 50% 50%; */
    /* position: relative; */
    opacity: 0.6;
}

/* Custom Radio Button Start*/

.radiotextsty {
    font-size: 18px;
}

.customradio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.customradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #BEBEBE;
}

/* On mouse-over, add a grey background color */
.customradio:hover input~.checkmark {
    background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.customradio input:checked~.checkmark {
    background-color: white;
    border: 1px solid #BEBEBE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark:after {
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #A3A0FB;
}

/* Custom Radio Button End*/

.breadcrumbx {
    padding: 0px;
    background: transparent;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 14px;
}

.breadcrumbx>li {
    display: table-cell;
    vertical-align: top;
    width: 1%;
}

.breadcrumbx>li+li:before {
    padding: 0;
}

.breadcrumbx li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: inline-block;
    width: calc(100% - 10px);
    background-color: hsla(0, 0%, 83%, 1);
    text-align: center;
    text-transform: capitalize;
}

.breadcrumbx li.completed a {
    background: brown;
    background: hsla(153, 57%, 51%, 1);
}

.breadcrumbx li.completed a:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumbx li.active a {
    background: #ffc107;
}

.breadcrumbx li.active a:after {
    border-left: 30px solid #ffc107;
}

.breadcrumbx li:first-child a {
    padding-left: 15px;
}

.breadcrumbx li:last-of-type a {
    width: calc(100% - 38px);
}

.breadcrumbx li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumbx li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}